API_WCF/Aula1/Exemplo2/ClienteWS_Aluno/Service References/ServiceReferenceAluno/ServicoAluno.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CarregarAlunos">
        <s:complexType />
      </s:element>
      <s:element name="CarregarAlunosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CarregarAlunosResult" type="tns:ArrayOfAluno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAluno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Aluno" nillable="true" type="tns:Aluno" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Aluno">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Nota" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CarregarAlunosSoapIn">
    <wsdl:part name="parameters" element="tns:CarregarAlunos" />
  </wsdl:message>
  <wsdl:message name="CarregarAlunosSoapOut">
    <wsdl:part name="parameters" element="tns:CarregarAlunosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicoAlunoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CarregarAlunos">
      <wsdl:input message="tns:CarregarAlunosSoapIn" />
      <wsdl:output message="tns:CarregarAlunosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicoAlunoSoap" type="tns:ServicoAlunoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarAlunos">
      <soap:operation soapAction="http://tempuri.org/CarregarAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicoAlunoSoap12" type="tns:ServicoAlunoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarAlunos">
      <soap12:operation soapAction="http://tempuri.org/CarregarAlunos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoAluno">
    <wsdl:port name="ServicoAlunoSoap" binding="tns:ServicoAlunoSoap">
      <soap:address location="http://localhost:52910/ServicoAluno.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicoAlunoSoap12" binding="tns:ServicoAlunoSoap12">
      <soap12:address location="http://localhost:52910/ServicoAluno.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>