API_WCF/Aula2/WCF_Ativ_I/ClientWCF_IIS_Funcionario/Service References/ServiceReferenceFuncionario/ServicoFuncionario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicoFuncionario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://desktop-qjlm7i2/MeuServico/WcfAtiv_I.ServicoFuncionario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://desktop-qjlm7i2/MeuServico/WcfAtiv_I.ServicoFuncionario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://desktop-qjlm7i2/MeuServico/WcfAtiv_I.ServicoFuncionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAtiv_I" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFuncionario_ListarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IFuncionario_ListarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:message name="IFuncionario_SelecioarFuncionario_InputMessage">
    <wsdl:part name="parameters" element="tns:SelecioarFuncionario" />
  </wsdl:message>
  <wsdl:message name="IFuncionario_SelecioarFuncionario_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelecioarFuncionarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IFuncionario">
    <wsdl:operation name="ListarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionario/ListarFuncionario" message="tns:IFuncionario_ListarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionario/ListarFuncionarioResponse" message="tns:IFuncionario_ListarFuncionario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelecioarFuncionario">
      <wsdl:input wsaw:Action="http://tempuri.org/IFuncionario/SelecioarFuncionario" message="tns:IFuncionario_SelecioarFuncionario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFuncionario/SelecioarFuncionarioResponse" message="tns:IFuncionario_SelecioarFuncionario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFuncionario" type="tns:IFuncionario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IFuncionario/ListarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelecioarFuncionario">
      <soap:operation soapAction="http://tempuri.org/IFuncionario/SelecioarFuncionario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicoFuncionario">
    <wsdl:port name="BasicHttpBinding_IFuncionario" binding="tns:BasicHttpBinding_IFuncionario">
      <soap:address location="http://desktop-qjlm7i2/MeuServico/WcfAtiv_I.ServicoFuncionario.svc/Funcionario" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>