API_WCF/Aula2/WCF_Ativ_I/ClientWCF_IIS_Funcionario/Service References/ServiceReferenceFuncionario/WcfAtiv_I2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-qjlm7i2/MeuServico/WcfAtiv_I.ServicoFuncionario.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfAtiv_I" />
  <xs:element name="ListarFuncionario">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfAtiv_I" minOccurs="0" name="ListarFuncionarioResult" nillable="true" type="q1:ArrayOfFuncionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecioarFuncionario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelecioarFuncionarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfAtiv_I" minOccurs="0" name="SelecioarFuncionarioResult" nillable="true" type="q2:Funcionario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>