API_WCF/Aula2/WCF_ativ_III/WcfServiceAtividade_III/ClienteWCF_ativ_III_AlunoService/Service References/ServiceReferenceAluno/AlunoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAluno">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aluno" nillable="true" type="tns:Aluno" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAluno" nillable="true" type="tns:ArrayOfAluno" />
  <xs:complexType name="Aluno">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nota1" type="xs:double" />
      <xs:element minOccurs="0" name="Nota2" type="xs:double" />
      <xs:element minOccurs="0" name="Nota3" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Aluno" nillable="true" type="tns:Aluno" />
</xs:schema>