API_WCF/Aula2/WCF_ativ_III/WcfServiceAtividade_III/ClienteWCF_ativ_III_AlunoService/Service References/ServiceReferenceAluno/AlunoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AlunoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/AlunoServico/Servico/AlunoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/AlunoServico/Servico/AlunoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/AlunoServico/Servico/AlunoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlunoService_ListAlunos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAlunos" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_ListAlunos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAlunosResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_GetAluno_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAluno" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_GetAluno_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlunoResponse" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_GetMedia_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMedia" />
  </wsdl:message>
  <wsdl:message name="IAlunoService_GetMedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlunoService">
    <wsdl:operation name="ListAlunos">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/ListAlunos" message="tns:IAlunoService_ListAlunos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/ListAlunosResponse" message="tns:IAlunoService_ListAlunos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAluno">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/GetAluno" message="tns:IAlunoService_GetAluno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/GetAlunoResponse" message="tns:IAlunoService_GetAluno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlunoService/GetMedia" message="tns:IAlunoService_GetMedia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlunoService/GetMediaResponse" message="tns:IAlunoService_GetMedia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlunoService" type="tns:IAlunoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAlunos">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/ListAlunos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAluno">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/GetAluno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMedia">
      <soap:operation soapAction="http://tempuri.org/IAlunoService/GetMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlunoService">
    <wsdl:port name="BasicHttpBinding_IAlunoService" binding="tns:BasicHttpBinding_IAlunoService">
      <soap:address location="http://localhost/AlunoServico/Servico/AlunoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>