API_WCF/Aula2/WCF_ativ_III/WcfServiceAtividade_III/ClienteWCF_ativ_III_AlunoService/Service References/ServiceReferenceAluno/AlunoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/AlunoServico/Servico/AlunoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" />
  <xs:element name="ListAlunos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAlunosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" minOccurs="0" name="ListAlunosResult" nillable="true" type="q1:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlunoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceAtividade_III.Repositorio" minOccurs="0" name="GetAlunoResult" nillable="true" type="q2:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMediaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>