API_WCF/Aula2/Solution_Ativ_II/ClientWCF_ISS_Funcionario/Service References/ServiceReferenceFuncionario/Funcionario.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceFuncionarioPublicacao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceFuncionarioPublicacao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuncionarioType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuncionarioType" nillable="true" type="tns:FuncionarioType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuncionarioType" nillable="true" type="tns:ArrayOfFuncionarioType" />
  <xs:complexType name="FuncionarioType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataCadastro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salario" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuncionarioType" nillable="true" type="tns:FuncionarioType" />
</xs:schema>